<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #ffffff;
            background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 100%), url('http://previews.123rf.com/images/artqu/artqu1305/artqu130500233/19466676-Abstract-musical-background-for-music-event-design-Stock-Vector.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        .navbar li {
            color: #d811ee;
        }
    </style>
    @await Html.PartialAsync("Scripts")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Event Manager</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @await Html.PartialAsync("_NavigationBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Event Manager</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
