@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}

<h1>Event manager</h1>
<p class="lead">
    This web application allows you to easly manage and connect sponsors to your events.
</p>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            @WebApplication4.Helpers.BackgroundHelper.MakeNote("Watch and edit and add events")
        </p>
        <p>
            @if (!User.IsInRole("Administrator"))
            {
                <a class="btn btn-primary" href="Events">Show events &raquo;</a>
            }
            @if (User.IsInRole("Administrator"))
            {
                <a class="btn btn-success" href="Events/Create">Add new event &raquo;</a>
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sponsors</h2>
        <p>@WebApplication4.Helpers.BackgroundHelper.MakeNote("Watch and edit and add sponsors")</p>
        <p>
            @if (!User.IsInRole("Guest"))
            {
                <a class="btn btn-primary" href="Sponsors">Show sponsors &raquo;</a>
            }
            @if (User.IsInRole("Administrator"))
            {
                <a class="btn btn-success" href="Sponsors/Create">Add new sponsor &raquo;</a>
            }   
        </p>
    </div>
    <div class="col-md-4">
        <h2>Account</h2>
        <p>@WebApplication4.Helpers.BackgroundHelper.MakeNote("By clicking below you can make a new account if u don't have one or just login to exising.")</p>
        <p>
            <a class="btn btn-success" href="Account/Login">Login &raquo;</a>
            <a class="btn btn-danger" href="Account/Register">Register &raquo;</a>
        </p>
    </div>
</div>